$white: rgba(255, 255, 255, 0.7);

.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  color: #fff;
  font-size: 40px;
  display: flex;

  select {
    color: $white;
    background: none;
    border: 3px solid $white;
    padding: 3px 10px;
    margin-right: 10px;
    font-size: 20px;
    outline: 0;
    min-width: 230px;

    &:disabled {
      opacity: 0.5;
    }

    option {
      color: #000;
    }
  }
}
